pandas
numpy
nltk
spacy
textblob
emoji
bs4
contractions
pyspellchecker
openpyxl
transformers
langchain
chromadb
tiktoken
pypdf
sentence-transformers
streamlit
streamlit_chat
gtts
streamlit_mic_recorder
langchain_community
streamlit_extras
pymupdf
scikit-learn
xgboost